.App {
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #b0c4de, #ffffff); 
    margin: 0;
   
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid #87ceeb;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    background-color: #87ceeb;
    color: black;
    padding: 10px 15px;
    border: solid black 2px;
    border-radius: 4px;
    cursor: pointer;

}

    button:hover {
        background-color: #add8e6;
    }
